  .container-Email{
    width: 450px;
    height: 510px;
    background-color: white;
    position: absolute;
    left: 400px;
    margin-top: 15px;
    border-radius: 5px
  }




.Heading h3{
    font-size: 22px;
    font-family: Mulish;
    margin-top: 30px;
    display: flex;
   align-items: start;
    flex-direction: column;
    margin-left: 40px;
}
.Heading .input-box{
    position: relative;
}
.Heading .input-box input{
    width: 250px;
    padding: 10px;
    font-size: 14px;
    color: black;
    margin: 30px 0px 0px 40px;
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid #969393;
    outline: none;

}
.Heading .input-box input:focus ~ label,
.Heading .input-box input:valid ~ label{
    top: 0px;
    left: 40px;
    color: black;
    font-size: 12px;
}

.Heading .input-box label{
    position: absolute;
    left: 40px;
    top: 15px;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 14px;
    font-family: Mulish;
    font-weight: 600;
    color: #969393;
    transition: 0.2s;

}
.button-signup{
    display: flex; 
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  
}
.btn{
       width: 80px;
       height: 35px;
       border: 2px solid #D8CFCF;
       background: none;
       border-radius: 2px;
       color: #D8CFCF;
       
}
.main-acc{
    margin-top: 5px;
}
.account {
     font-size: 14px;
    

}
.ancor1{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #007141;
}
