.heading{
    text-align: center;
    padding-top: 27px;
}
.heading h3 {
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    color: rgb(36, 34, 34);
}
.heading img {
    padding-bottom: 8px;
}
.main-contact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 200px 0px 123px;
}
.contact-Us h2{
    font-size: 26px;
    font-family: Inter;
    
}
.info{
    display: block;
    font-size: 18px;
    font-family: Inter;
    margin-top: 12px;
    font-weight: 500;
    color: rgb(43, 41, 41);
}
.form-data{
    display: block;
    width: 236px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    padding: 1rem;
    border: none;
    outline: none;
}
.form-data-2{
   margin-top: 20px;
   display: block;
    width: 236px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    padding: 1rem;
    border: none;
    outline: none;
}
.form-data-3{
    margin-top: 20px;
    display: block;
     width: 236px;
     height: 180px;
     border-radius: 5px;
     background-color: white;
     padding: 1rem;
     border: none;
     outline: none;
    font-family: Inter;
     
 }
 .btn-submit{
    width: 80px;
    height: 40px;
    position: relative;
    top: 20px;
    left: 75px;
    stroke: 2px #2B2C32;
    background: none;
    font-weight: 600;
    font-size: 18PX;
    color: #2B2C32;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    font-family: mulish;
 }
 .btn-submit:hover{
    background-color: #153B3C;
    color: white;
    outline: none;
    border: none;
 }

 @media(max-width:940px){
    .main-contact{
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-left: 50px;
        
        
    }
    .contact-Us h2{
        font-size: 16px;
    }
    .info{
        display: block;
        font-size: 15px;
        font-family: Inter;
        margin-top: 12px;
        font-weight: 500;
        color: rgb(43, 41, 41);
        align-items: center;
    }
    .heading h3 {
        font-size: 10px;
        font-family: Inter;
        font-weight: 500;
        color: rgb(36, 34, 34);
    }
 }

 



